extends layout
block append content
        div.container(class="jumbotron")
          h1 Entrer votre adresse actuelle 
          p(class="lead") Aucune donnée ne sera suavegardé sans votre accord 
          form(name="input", method="post", action="/jobs")
            div.control-group 
              input.input-big(type="text", name="FirstName", placeholder="Nom", length="25")
            div.control-group
              input.input-big(type="text", name="LastName", placeholder="Prénom")
            div.control-group
              input.input-medium(class="typeahead name" type="text", name="locality", placeholder="Localité")
              input.input-mini(class="typeahead npa" type="text", name="npa", placeholder="NPA")
            div.control-group
              input.input-medium(type="text", name="Street", placeholder="Rue")
              input.input-mini(type="text", name="Number", placeholder="N°")
            div.control-group
              input.input-small(type="submit", class="btn btn-success", value="Changer d'adresse")
        :coffeescript
          $('#btn').bind 'click',(event) => 
            $('.lead').toggle()
          $('.typeahead.name').typeahead
              'source':(query, process) =>
                data = {}
                objects = []
                map = {}
                $.get '/locality/name/'+query, '', (localities) =>
                  $.each localities, (i, object) =>
                    map[object.Name] = object;
                    objects.push(object.Name);
                  return process(objects)
           $('.typeahead.npa').typeahead
              'source':(query, process) =>
                data = {}
                objects = []
                map = {}
                $.get '/locality/npa/'+query, '', (localities) =>
                  $.each localities, (i, object) =>
                    map[object.Name] = object;
                    objects.push(object.Name);
                  return process(objects)
                
                

