extends layout
block append content
        div.container(class="jumbotron")
          h1 Entrer votre adresse actuelle 
          p(class="lead") Aucune donnée ne sera suavegardé sans votre accord 
          form.pull-right(name="input", method="post", action="/jobs")
            div.control-group 
              input.input-small(type="text", name="FirstName", placeholder="Nom")
            div.control-group
              input.input-small(type="text", name="LastName", placeholder="Prénom")
            div.control-group
              input.input-small(type="text", name="Street", placeholder="Rue")
              input.input-small(type="text", name="Number", placeholder="N°")
            div.control-group
              input.input-small(type="text", name="locality", placeholder="Localité")
            div.control-group
              input.input-small(type="submit", class="btn btn-success", value="Changer d'adresse")
    :coffeescript
      $('#btn').bind 'click',(event) => 
        $('.lead').toggle()

